<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.capinfo.mapper.CapVehicleSpendtimeMapper" >
  <resultMap id="BaseResultMap" type="com.capinfo.entity.CapVehicleSpendtime" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="cap_work_record_id" property="capWorkRecordId" jdbcType="VARCHAR" />
    <result column="task_name" property="taskName" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="duration" property="duration" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="spend_money" property="spendMoney" jdbcType="DOUBLE"/>
    <result column="isrepeat" property="isrepeat" jdbcType="VARCHAR"/>
    <result column="now_status" property="nowStatus" jdbcType="VARCHAR"/>
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>


  <select id="selectListByCondition" parameterType="com.capinfo.entity.CapVehicleSpendtime" resultMap="BaseResultMap">
    SELECT * from cap_vehicle_spendtime
    <where>
      del_flag = '0'
      <if test="capWorkRecordId!=null and capWorkRecordId!=''">
        and cap_work_record_id = #{capWorkRecordId}
      </if>
      <if test="taskName!=null and taskName!=''">
        and task_name = #{taskName}
      </if>
      <if test="status!=null and status!=''">
        and status = #{status}
      </if>
      <if test="isrepeat!=null and isrepeat!=''">
        and isrepeat = #{isrepeat}
      </if>
      <if test="nowStatus!=null and nowStatus!=''">
        and now_status = #{nowStatus}
      </if>
    </where>
    <if test="sortType == 'createDateAsc'">
      order by create_date asc
    </if>
    <if test="sortType != 'createDateAsc'">
      order by create_date desc
    </if>

  </select>


</mapper>