<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.capinfo.mapper.CapWorkOrderRecordMapper" >
  <resultMap id="BaseResultMap" type="com.capinfo.entity.CapWorkOrderRecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="record_id" property="recordId" jdbcType="VARCHAR" />
    <result column="plate_no" property="plateNo" jdbcType="VARCHAR" />
    <result column="vehicle_id" property="vehicleId" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="parking_time" property="parkingTime" jdbcType="TIMESTAMP" />
    <result column="now_come_back" property="nowComeBack" jdbcType="VARCHAR" />
    <result column="now_link" property="nowLink" jdbcType="VARCHAR" />
    <result column="now_status" property="nowStatus" jdbcType="VARCHAR" />
    <result column="total_money" property="totalMoney" jdbcType="REAL" />
    <result column="total_last_limit" property="totalLastLimit" jdbcType="INTEGER" />
    <result column="total_limit" property="totalLimit" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    <result column="proc_inst_id" property="procInstId" jdbcType="VARCHAR" />
    <result column="is_powerfree" property="isPowerfree" jdbcType="VARCHAR"/>
  </resultMap>


  <select id="selectListByCondition" parameterType="com.capinfo.entity.CapWorkOrderRecord" resultMap="BaseResultMap">
    SELECT * from cap_work_order_record
    <where>
      del_flag = '0'
      <if test="nowLink!=null and nowLink!=''">
        and now_link = #{nowLink}
      </if>
      <if test="nowStatus!=null and nowStatus!=''">
        and now_status = #{nowStatus}
      </if>
      <if test="recordId!=null and recordId!=''">
        and record_id = #{recordId}
      </if>
      <if test="isPowerfree!=null and isPowerfree!=''">
        and is_powerfree = #{isPowerfree}
      </if>
      <if test="plateNo!=null and plateNo!=''">
        and plate_no = #{plateNo}
      </if>
      <if test="vehicleId!=null and vehicleId!=''">
        and vehicle_id = #{vehicleId}
      </if>
    </where>
    order by create_date desc
  </select>


  <select id="selectListJoinVehicleByCondition" parameterType="com.capinfo.entity.CapWorkOrderRecord" resultMap="BaseResultMap">
    SELECT
      a.id AS "id",
      a.plate_no AS "plateNo",
      a.record_id AS "recordId",
      a.vehicle_id AS "vehicleId",
      a.start_time AS "startTime",
      a.end_time AS "endTime",
      a.now_link AS "nowLink",
      a.now_status AS "nowStatus",
      a.create_by AS "createBy",
      a.proc_inst_id AS "procInstId",
      a.is_powerfree AS "isPowerfree",
      b.id AS "capVehicleInfo.id",
      b.plate_no AS "capVehicleInfo.plateNo",
      b.vehicle_type AS "capVehicleInfo.vehicleType",
      b.vehicle_prop AS "capVehicleInfo.vehicleProp",
      b.vehicle_kind AS "capVehicleInfo.vehicleKind",
      b.openId AS "capVehicleInfo.openid"
    from cap_work_order_record a left join cap_vehicle_info b on a.vehicle_id=b.id
    <where>
      a.del_flag = '0'
      <if test="nowLink!=null and nowLink!=''">
        and a.now_link = #{nowLink}
      </if>
      <if test="nowStatus!=null and nowStatus!=''">
        and a.now_status = #{nowStatus}
      </if>
      <if test="recordId!=null and recordId!=''">
        and a.record_id = #{recordId}
      </if>
      <if test="isPowerfree!=null and isPowerfree!=''">
        and a.is_powerfree = #{isPowerfree}
      </if>
      <if test="plateNo!=null and plateNo!=''">
        and a.plate_no = #{plateNo}
      </if>
      <if test="vehicleId!=null and vehicleId!=''">
        and a.vehicle_id = #{vehicleId}
      </if>
    </where>
    order by a.create_date desc
  </select>



</mapper>