<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.capinfo.mapper.JsSysPostMapper">
  <resultMap id="BaseResultMap" type="com.capinfo.entity.JsSysPost">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="post_code" jdbcType="VARCHAR" property="post_code" />
    <result column="post_name" jdbcType="VARCHAR" property="post_name" />
    <result column="post_type" jdbcType="VARCHAR" property="post_type" />
    <result column="post_sort" jdbcType="DECIMAL" property="post_sort" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="create_by" jdbcType="VARCHAR" property="create_by" />
    <result column="create_date" jdbcType="TIMESTAMP" property="create_date" />
    <result column="update_by" jdbcType="VARCHAR" property="update_by" />
    <result column="update_date" jdbcType="TIMESTAMP" property="update_date" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="corp_code" jdbcType="VARCHAR" property="corp_code" />
    <result column="corp_name" jdbcType="VARCHAR" property="corp_name" />
  </resultMap>
</mapper>